body{
    margin: 0 auto;
    max-width: 1440px;
    font-family: 'Satoshi', sans-serif;
    overflow-x: hidden;
    background: rgba(0, 0, 0, 0.64);
}

.main_background{
    height: 1024px;
    width: 100%;
    background: url(img/signup_pic.png) no-repeat top;
}

.main_background::before{
    content: "";
    position: absolute;
    width: 1440px;
    height: 1024px;
    background: rgba(0, 0, 0, 0.64);
}

header{
    padding-top: 2px;
}

.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo{
    margin-left: 69px;
    position: relative;
}

nav{
    margin-right: 69px;
    position: relative;
    display: flex;
    padding-left: 745px;
}

nav ul{
    display: flex;
    list-style-type: none;
    
}

nav a{
    font-size: 14px;
    padding-left: 30px;
    color: white;
    text-decoration: none;
    list-style-type: none;
}

/*HERO*/

p, h1{
    margin: 0;
    font-family: 'Satoshi', sans-serif;
}

.signup_container{
    margin: 0 auto;
    margin-top: 82px;
    margin-left: 476px;
    position: relative;
}

.signup{
    font-size: 100px;
    line-height: 135px;
    font-weight: 300;
    color: #FFFFFF;
}

.please{
    margin-top: 10px;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.email, .password_text{
    margin-top: 17px;
    font-size: 16px;
    line-height: 22px;
    color: white;
}

.text, .password{
    margin-top: 10px;
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    padding: 20px 237px 20px 22px;
}

.text::placeholder, .password::placeholder{
    width: 300px;
    font-size: 18px;
    line-height: 30px;
    color: rgba(48, 47, 47, 0.74);
}

.bysigning{
    margin-top: 16px;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

span{
    color: #33A5F7;
}

span:hover{
    cursor: pointer;
}

.button{
    margin-top: 10px;
    width: 428px;
    height: 70px;
    background: #2878AE;
    border-radius: 5px;
    color: white;
    font-size: 25px;
    border: none;
}

.button:hover{
    cursor: pointer;
    background-color: #142E26;
    transition: 400ms;
}

.or_container{
    margin-top: 21px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.or{
    display: inline-block;
    font-weight: 400;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 25px;
    line-height: 34px;
    color: white;
}

.hr1{
    margin-left: 24px;
    display: inline-block;
    width: 140px;
}

.hr2{
    display: inline-block;
    width: 140px;
}

.continue_google, .continue_facebook{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
}

.continue_facebook{
    margin-top: 25px;
}

.continue_google:hover, .continue_facebook:hover{
    background-color: #142E26;
    cursor: pointer;
    color: white;
    transition: 300ms;
}

.google_icon, .facebook_icon{
    padding-left: 18px;
}

.continue_words, .facebook_words{
    padding: 16px 150px 16px 18px;
    font-size: 20px;
    color: rgba(48, 47, 47, 0.74);
}

.continue_words:hover, .facebook_words:hover{   
    color: white;
}

.facebook_words{
   padding-right: 130px;
   
}